# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.next/
out/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/migrations/*.sql.bak

# Turbo
.turbo/

# IDE
.idea/
.vscode/
*.swp

# production secrets
deploy/.env.prod

# local sqlite dev db
*.db
*.db-journal
prisma/dev.db
apps/api/prisma/dev.db
